/* Logo Styling */
.nav__logo {
  width: 100px;
}

/* Top Nav Bar Styling */
.topNav {
  position: absolute;
  width: 100%;
  background: black;
  z-index: 10;

}

.topNav select {
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #aaa;
  color: #fff;
  font-size: 0.875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 20px;
}

/* Home Banner Styling */
.home-banner {
  height: 100vh;
  overflow: hidden;
}

.home-banner h1 {
  font-size: 3.125rem;
}

.home-banner h2 {
  font-size: 1.625rem;
}

.home-banner .shadow {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.home-banner img {
  width: 100%;
}

.home-banner .our-story {
  position: absolute;
  color: white;
  text-align: center;
  top: 35%;
  width: 600px;
  left: calc(50% - 300px);
  z-index: 1;
}

.home-banner .input-group input {
  height: 54px;
  padding: .2rem 1rem;
  border-radius: 0;
}

.home-banner .input-group button {
  font-size: 1.5rem;
  padding: .2rem 1.5rem;
  border: 0;
  height: 54px;
  font-weight: normal;
  background-color: red;
}

/* Login Page Styling */
.login {
  height: 100vh;
  overflow: hidden;
}

.login .holder {
  padding: 60px 68px 40px;
  background-color:  black;
  min-height: 460px;
  width: 450px;
  position: absolute;
  z-index: 1;
  margin-top: 100px;
  left: calc(50% - 225px);
}

.login .holder input {
  background-color: #333;
  border: 0;
  margin-bottom: 20px;
  color: #fff;
}

.login .shadow {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.login img {
  max-width: 100%;
}

.login .login-form-other .login-signup-now {
  color: #737373;
  font-size: 16px;
  font-weight: 500;
  margin-top: 16px;
}

.login .login-form-other .login-signup-now a {
  color: #fff;
}

/* Banner Styling */
.banner {
  background-image: url("https://image.tmdb.org/t/p/original//hVMoqvXs5j9ffun56tZ5YhliSD9.jpg");
  background-position: center center;
  background-size: contain;
  color: #fff;
  height: 720px;
  object-fit: contain;
  position: relative;
}

.banner .banner__contents {
  height: 190px;
  margin-left: 30px;
  padding-top: 140px;
}

.banner .banner__title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner .banner__description {
  font-size: 16px;
  height: 80px;
  line-height: 1.3;
  line-height: 24px;
  max-width: 360px;
  padding-top: 1rem;
  width: 45rem;
}

.banner .banner__button {
  border: none;
  border-radius: 0.2vw;
  cursor: pointer;
  font-weight: 700;
  margin-right: 1rem;
  outline: none;
  padding: 0.5rem 2rem;
}

.banner .banner__button:hover {
  background-color: #e6e6e6;
  color: #000;
  transition: all 0.2s;
}

.banner .banner--fadeBottom {
  background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
  height: 7.4rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* // List */
.list{
  >.row{
    flex-direction: column;
    margin: 0;
  }
  .title{
    margin: 30px;
    margin-bottom: 0;
  }
  .row__posters {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 20px 0 20px 0;
  }
  
  .row__posters::-webkit-scrollbar {
    display: none;
  }
  
  .row__poster {
    margin-right: 10px;
    max-height: 100px;
    object-fit: contain;
    opacity: 0.8;
    transition: transform 0.45s;
    
  }
  
  .row__poster:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.08);
  }
  
  .row__posterLarge {
    max-height: 250px;
  }
  
  .row__posterLarge:hover {
    opacity: 1;
    transform: scale(1.09);
  }
}